[submodule ".emacs.d/public_repos/egg"]
	path = .emacs.d/public_repos/egg
	url = https://github.com/byplayer/egg.git
[submodule ".emacs.d/public_repos/yaml-mode"]
	path = .emacs.d/public_repos/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".zsh.d/public_repos/oh-my-zsh"]
	path = .zsh.d/public_repos/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
