[submodule ".emacs.d/public_repos/egg"]
	path = .emacs.d/public_repos/egg
	url = https://github.com/byplayer/egg.git
[submodule ".emacs.d/public_repos/yaml-mode"]
	path = .emacs.d/public_repos/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/public_repos/haml-mode"]
	path = .emacs.d/public_repos/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule ".emacs.d/public_repos/sass-mode"]
	path = .emacs.d/public_repos/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule ".zsh.d/public_repos/z"]
	path = .zsh.d/public_repos/z
	url = https://github.com/rupa/z.git
[submodule ".zsh.d/public_repos/auto-fu.zsh"]
	path = .zsh.d/public_repos/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh.d/public_repos/oh-my-zsh"]
	path = .zsh.d/public_repos/oh-my-zsh
	url = git@github.com:progd/oh-my-zsh.git
[submodule ".emacs.d/public_repos/rhtml"]
	path = .emacs.d/public_repos/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule ".emacs.d/public_repos/direx-el"]
	path = .emacs.d/public_repos/direx-el
	url = https://github.com/m2ym/direx-el.git
[submodule ".emacs.d/public_repos/popwin-el"]
	path = .emacs.d/public_repos/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/open-browser.vim"]
	path = .vim/bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule ".vim/bundle/eregex.vim"]
	path = .vim/bundle/eregex.vim
	url = https://github.com/othree/eregex.vim
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree/
